__pycache__
*.pyc
*lock*
.idea
running_log
output
*.swp
.log
tmp
.ipynb*
.pytest*
framework_test
*.log
.vscode
*.xlsx
morning/config/db.py
auto/auto.py
LG_DeepLearning_lecture_Jupyter
configs/client_info.json
*.o
Makefile
moc*.*
*.log.*
.qmake*
application/chart_test/chart
application/morning/morning
application/chart_test/performance_comparison/chartlib_compare
application/qml_tick/morning_tick
application/qml_dayquery/morning_dayview
application/qml_today/qml_today
application/qml_comparison/qml_comparison
application/qml_search/qml_search
application/qml_bidask/morning_bidask
application/qml_favorite/qml_favorite
application/qml_trading/qml_trading
*.so*
*.so.*
*.qrc
