__pycache__
*.pyc
*lock*
.idea
running_log
output
*.swp
.log
tmp
.ipynb*
.pytest*
framework_test
*.log
.vscode
*.xlsx
morning/config/db.py
auto/auto.py
LG_DeepLearning_lecture_Jupyter
configs/client_info.json
*.o
Makefile
moc*.*
*.log.*
.qmake*
